.category-post-type{display: flex;flex-wrap: wrap;margin-top: 50px;margin-bottom: 30px;justify-content: center;}
.category-post{width: 280px;margin: 4px;/*! border: 1px solid darkcyan; */margin-bottom: 20px;height: 260px;}
.category-post-img{}
.category-post-img img{width: 100%;height: 100%;}
.category_title_content{padding: 10px;}
.category-post-title{font-size: 15px;line-height: 27px;padding-bottom: 1px;margin-top: 2px;}
.category-post-title a{}
.category-post-title a p{text-align: justify;}


.category-post-content{display: none;}

.nav-links{}

.page-numbers{padding: 8px;}
.page-numbers:hover{background: #016938;color: #fff;}

.page-numbers.current{background: #016938;color: #fff;}
.widgettitle{display: none;}

.margin-top-2 p{text-align: justifya};

